$font-stack: "Lato", sans-serif;
$white: #ffffff;
$black: #111111;
$gray: #fafafa;
$light-gray: #d1d5da;
$primary-color: #f9d32c;
$primary-hovered-color: #806903;
$primary-disabled-color: #f8da69;
$input-border-color: #dde0e4;
$border-color: #eeeeee;
$warning-color: #895314;
$warning-bg-color: #fff8c3;
$info-color: #1f41ae;
$info-bg-color: #daeaff;
$success-color: #1ea249;
$success-bg-color: #ddfde7;
$error-color: #a63837;
$error-bg-color: #fde3e0;
$border-radius: 8px;
$transition: ease-in-out 0.5s;
