@import "./variables";

.auth-layout {
  .auth-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $white;

    .brand {
      color: $primary-color;
      font-size: 64px;
      font-family: "Luckiest Guy";
      width: 200px;
      line-height: 1;
      text-align: center;
      margin: 0 auto;
    }
    .auth-title {
      text-align: left;
      margin-top: 33px;
      margin-left: 16px;
      font-size: 36px;
      font-weight: 700;
    }

    form {
      margin: 0 16px;
      .input-group {
        margin-top: 16px;
      }
      .button {
        margin: 48px 0;
      }
    }

    .footer-text {
      text-align: center;
      font-size: 16px;

      a {
        text-decoration: none;
        span {
          color: $black;
          border-bottom: 1px solid $black;
          padding: 2px 0;
        }
      }
    }
  }

  .svg-section {
    display: none;
  }
}

@media (min-width: 769px) {
  .auth-layout {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
    // margin: 58px 24px;

    .auth-section {
      background-color: $gray;
      // border-radius: 24px;
      flex: 1;
      width: 50%;
      border: 1px solid $border-color;
      height: 100vh;

      .auth-title {
        margin-left: 150px;
        font-size: 64px;
      }

      .brand {
        display: none;
      }

      form {
        margin: 0 150px;
      }

      .footer-text {
        font-size: 20px;
        a {
          span {
            font-size: 20px;
          }
        }
      }
    }

    .svg-section {
      flex: 1;
      display: flex;
      background-color: $black;
      // border-radius: 24px;
      position: relative;
      padding: 60px;
      width: 50%;
      height: 100vh;

      .brand {
        color: $primary-color;
        font-size: 64px;
        font-family: "Luckiest Guy";
        width: 200px;
        line-height: 1;
        position: absolute;
        top: 89px;
        left: 61px;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 70%;
      }
    }
  }
}
